{% extends 'base.html.twig' %}

{% block content %}
    <h1>Offers list</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Expiration date</th>
                <th>Offer id</th>
            </tr>
        </thead>
        <tbody>
        {% for offer in offers %}
            <tr>
                <th scope="row">{{ offer.title }}</th>
                <td>{{ offer.description }}</td>
                <td>{{ offer.price }}</td>
                <td>{% if offer.dateEnd %}{{ offer.dateEnd|date('Y-m-d') }}{% endif %}</td>
                <td>{{ offer.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('offer_show', { 'id': offer.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('offer_edit', { 'id': offer.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('offer_new') }}">Create a new offer</a>
        </li>
    </ul>
{% endblock %}
