{% extends 'base.html.twig' %}

{% block content %}
    <h1>Offer</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ offer.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ offer.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ offer.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ offer.price }}</td>
            </tr>
            <tr>
                <th>Expiration date</th>
                <td>{% if offer.dateEnd %}{{ offer.dateEnd|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('offer_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('offer_edit', { 'id': offer.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
