{% extends 'base.html.twig' %}

{% block content %}
    <h1>Offer</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ offer.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ offer.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ offer.price }}</td>
            </tr>
            <tr>
                <th>Expiration date</th>
                <td>{% if offer.dateEnd %}{{ offer.dateEnd|date('Y-m-d') }}{% endif %}</td>

            <tr>
                <th>Offer id</th>
                <td>{{ offer.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bk_offer_default_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
